In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('EURUSD.csv')
df.rename(columns={'Local time':'date'}, inplace=True)
df.date = df.date.str.rstrip('+0100 2 GMT')
df.date = pd.to_datetime(df.date, format='%d.%m.%Y %H:%M:%S.')
df = df.set_index(df.date)
df = df.drop(columns=['date'])
df = df.drop_duplicates(keep=False)
df

                        Open     High      Low    Close     Volume
date
2015-01-01 23:00:00  1.21038  1.21073  1.20999  1.21014  1069.9900
2015-01-02 00:00:00  1.21015  1.21020  1.20783  1.20869  4662.3999
2015-01-02 01:00:00  1.20871  1.20890  1.20668  1.20674  3886.3101
2015-01-02 02:00:00  1.20675  1.20723  1.20519  1.20670  6203.4800
2015-01-02 03:00:00  1.20670  1.20687  1.20476  1.20588  4255.5601
...                      ...      ...      ...      ...        ...
2018-12-31 20:00:00  1.14452  1.14563  1.14446  1.14534  8138.8599
2018-12-31 21:00:00  1.14536  1.14612  1.14536  1.14561  5789.6602
2018-12-31 22:00:00  1.14560  1.14674  1.14560  1.14644  4643.3301
2018-12-31 23:00:00  1.14644  1.14644  1.14627  1.14627     5.2500
2019-01-01 23:00:00  1.14598  1.14672  1.14598  1.14606  2354.3101

[24920 rows x 5 columns]

In [3]:
from plotly import tools